<div class="animsition container zoom-in-sm" data-animsition-in-duration="750" style="margin-top: 15px">
	<h1>ScenicNobody</h1>
	<ul>
		<li>Last image posted: {{lastImagePosted}}</li>
		<li>Will post in: {{willPostIn}}</li>
	</ul>
</div>
