body {
	font-family: "Lato", sans-serif;
	background-color: #2c3e50;
	color: #ecf0f1;
	margin: 0;
	padding: 0;
	width: 100%;
}

.animsition {
	display: none;
}

ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 2;
	font-size: 1.4em;
}

img {
	margin-top: 10px;
	margin-bottom: 15px;
	display: block;
}

#tagline {
	color: #bdc3c7;
	margin-bottom: 20px;
	display: block;
}

a {
	color: #27ae60;
	transition: .25s;
	font-size: 1.1em;
	margin-bottom: 10px;
	display: block;
}

a:hover {
	text-decoration: none;
	color: #2ecc71;
}

a > i {
	margin-right: 1px;
}